<!-- Header Bottom -->
<!-- <section class="bottom_bar" style="background-color: rgb(117, 24, 24);"> -->
<section class="bottom_bar" style="background-color: black;">

    <div class="container">

        <div class="row">
            <div class="col-lg-8 col-md-9">

                <div class="tranding_part clearfix">
                    <h4 class="float-left"> Tendencias HOY</h4>

                    <div class="tr_slider float-left owl-carousel">
                        <div class="tr_items">
                            <a href="#">Assassin's Creed explica las habilidades y el diseño de Basim</a>
                        </div>
                        <div class="tr_items">
                            <a href="#">Eneba nos trae sus ofertas para el fin de semana</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-3">
                <nav class="bottom_nav">
                    <ul>
                        <li><a href="#">Nuevos Ingresos</a></li><li><a href="#">Más votados</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- Header Bottom -->
<!-- Featured Section dany 1 -->
<section class="featured_post_section_1" style="background-color: black;">
    <div class="container">
        <div class="row custom_margin">
            <div class="col-lg-8 col-md-6 custom_padding">
                <div class="featured_item_1">
                    <img src="assets/img/game-1.png" alt=""/>
                    <div class="fi1_content">
                        <div class="fi1c_categories">
                            <a href="#" class="cats pinks">E-Sport</a>
                        </div>
                        <h2><a href="#">Overwatch World Cup 2023: fechas, equipos, formato</a></h2>
                    </div>
                </div>
                <div class="row custom_margin">
                    <div class="col-lg-6 col-md-12 custom_padding">
                        <div class="featured_item_1 fi1_sm">
                            <img src="assets/img/game-2.png" alt=""/>
                            <div class="fi1_content">
                                <div class="fi1c_categories">
                                    <a href="#" class="cats blues2">Design</a>
                                </div>
                                <h2><a href="#">Insomniac Games a la vanguardia del lanzamiento de PlayStation 5</a></h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 custom_padding">
                        <div class="featured_item_1 fi1_sm">
                            <img src="assets/img/game-4.png" alt=""/>
                            <div class="fi1_content">
                                <div class="fi1c_categories">
                                    <a href="#" class="cats reds">Arcade</a>
                                </div>
                                <h2><a href="#">Jugar al ‘Pacman’ o el ‘Space Invaders’ en máquinas de arcade NO es cosa del pasado</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 custom_padding">
                <div class="featured_item_1 fi1_sm">
                    <img src="assets/img/game-3.png" alt=""/>
                    <div class="fi1_content">
                        <div class="fi1c_categories">
                            <a href="#" class="cats greens">Top</a>
                        </div>
                        <h2><a href="#">Los 15 mejores juegos de PlayStation 5</a></h2>
                    </div>
                </div>
                <div class="featured_item_1 fi1_sm">
                    <img src="assets/img/game-5.png" alt=""/>
                    <div class="fi1_content">
                        <div class="fi1c_categories">
                            <a href="#" class="cats blues">Deportes</a>
                        </div>
                        <h2><a href="#">EA Sports FC (antes FIFA 24): cuándo sale (fecha de lanzamiento)</a></h2>
                    </div>
                </div>
                <div class="featured_item_1 fi1_sm">
                    <img src="assets/img//game-7.png" alt=""/>
                    <div class="fi1_content">
                        <div class="fi1c_categories">
                            <a href="#" class="cats purples">Peleas</a>
                        </div>
                        <h2><a href="#">Street Fighter 6:  El rey de los juegos de lucha regresa por todo lo alto</a></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Featured Section -->
 <!-- Top Post Section HASTA CA ME LLEVO -->
 <section class="comon_section bg_white clearfix">
    <div class="container">
        <div class="row cus_top_week_column clearfix">
            <div class="col-lg-8 clearfix">
                <h2 class="sec_titles"><i></i>Top Mejor Puntuados</h2>
                <div class="magro_tab_1">
                    <div class="tab-content">
                        <div class="tab-pane fade show in active" id="t_tab_1" role="tabpanel">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="top_week_1">
                                        <div class="tw1_thumb">
                                            <img src="assets/img/assa.png" alt="">
                                            <div class="tw1_cats">
                                                <a href="#" class="cats blues2">Acción</a>
                                            </div>
                                        </div>
                                        <div class="tw1_details">
                                            <h2><a href="#">Assassin's Creed Odyssey</a></h2>
                                            <div class="comon_meta clearfix">
                                                <span class="cm_author"><a href="#"><app-rate-starts [rating]="4"></app-rate-starts> </a></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 noPaddingRight">
                                    <div class="tw1_list clearfix">
                                        <div class="tw1l_thumb">
                                            <img src="assets/img/zelda.png" alt="">
                                            <div class="tw1l_cats">
                                                <a href="#" class="cats reds">Arcade</a>
                                            </div>
                                        </div>
                                        <div class="tw1_l_content">
                                            <h3><a href="#">The Legend of Zelda: Tears of the Kingdom</a></h3>
                                            <div class="comon_meta clearfix">
                                                <span class="cm_author"><a href="#"><app-rate-starts [rating]="3"></app-rate-starts></a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tw1_list clearfix">
                                        <div class="tw1l_thumb">
                                            <img src="assets/img/ow.png" alt="">
                                            <div class="tw1l_cats">
                                                <a href="#" class="cats live reds">Live</a>
                                            </div>
                                        </div>
                                        <div class="tw1_l_content">
                                            <h3><a href="#">Overwatch World Cup 2023</a></h3>
                                            <div class="comon_meta clearfix">
                                                <span class="cm_author"><a href="#"><app-rate-starts [rating]="2"></app-rate-starts> </a></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tw1_list clearfix">
                                        <div class="tw1l_thumb">
                                            <img src="assets/img/e-football.png" alt="">
                                            <div class="tw1l_cats">
                                                <a href="#" class="cats blues">Deportes</a>
                                            </div>
                                        </div>
                                        <div class="tw1_l_content">
                                            <h3><a href="#">E-football 2023 - PES 2023</a></h3>
                                            <div class="comon_meta clearfix">
                                                <span class="cm_author"><a href="#"><app-rate-starts [rating]="2"></app-rate-starts></a></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <aside class="widget mag_cat_widget">
                    <h3 class="widget_title"><span>Categorías</span></h3>
                    <div class="mcw_content">
                        <div class="mcwc_items travel_cate">
                            <a href="#">
                                <img src="assets/img/cat-1.png" alt="">
                                <span class="mcwc_name">Shooter</span>
                            </a>
                        </div>
                        <div class="mcwc_items fashion_cate">
                            <a href="#">
                                <img src="assets/img/cat-2.png" alt="">
                                <span class="mcwc_name">Arcade</span>
                            </a>
                        </div>
                        <div class="mcwc_items entertainment_cate">
                            <a href="#">
                                <img src="assets/img/cat-3.png" alt="">
                                <span class="mcwc_name">Deportes</span>
                            </a>
                        </div>
                        <div class="mcwc_items health_cate">
                            <a href="#">
                                <img src="assets/img/cat-4.png" alt="">
                                <span class="mcwc_name">Estrategias</span>
                            </a>
                        </div>
                        <div class="mcwc_items nature_cate">
                            <a href="#">
                                <img src="assets/img/cat-5.png" alt="">
                                <span class="mcwc_name">E-sports</span>
                            </a>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>

<!-- Acción Section -->
<!-- Ads Section -->
<section class="comon_section ad_section" style="background-color: black;" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ads text-center">

                    <a href="#"><img src="assets/img/home1/m1.jpg" alt=""></a>  <!-- revisar "images/home1/ad.jpg" -->
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Featured Carousel Section -->
<!-- Top Post Section -->
<section class="comon_section" style="background-color: white;">
    <div class="container">
        <div class="row top_post_cus_column">
            <div class="col-lg-8">
                <h2 class="sec_titles"><i></i>Nuevos ingresos</h2>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="top_week_1 mb_60">
                            <div class="tw1_thumb">
                                <img src="assets/img/g1.png" alt="">
                                <div class="tw1_cats">
                                    <a href="#" class="cats pinks2">Deportes</a>
                                </div>
                            </div>
                            <div class="tw1_details">
                                <h2><a href="#">AEW: Fight Forever</a></h2>
                                <div class="comon_meta clearfix">
                                    <span class="cm_author"><a href="#">4.7 </a><i class="bi bi-star-fill"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="top_week_1 mb_60">
                            <div class="tw1_thumb">
                                <img src="assets/img/jj2.png" alt="">
                                <div class="tw1_cats">
                                    <a href="#" class="cats pinks">Arcade</a>
                                </div>
                            </div>
                            <div class="tw1_details">
                                <h2><a href="#">Jetpack Joyride 2 - Halfbrick</a></h2>
                                <div class="comon_meta clearfix">
                                    <span class="cm_author"><a href="#">4.7 </a><i class="bi bi-star-fill"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="top_week_1 mb_60">
                            <div class="tw1_thumb">
                                <img src="assets/img/ml.png" alt="">
                                <div class="tw1_cats">
                                    <a href="#" class="cats purples">Estrategias</a>
                                </div>
                            </div>
                            <div class="tw1_details">
                                <h2><a href="#">Minecraft Legends</a></h2>
                                <div class="comon_meta clearfix">
                                    <span class="cm_author"><a href="#">4.7 </a><i class="bi bi-star-fill"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="top_week_1 mb_60">
                            <div class="tw1_thumb">
                                <img src="assets/img/mym.png" alt="">
                                <div class="tw1_cats">
                                    <a href="#" class="cats yellows">Shooter</a>
                                </div>
                            </div>
                            <div class="tw1_details">
                                <h2><a href="#">Meet Your Maker</a></h2>
                                <div class="comon_meta clearfix">
                                    <span class="cm_author"><a href="#">4.7 </a><i class="bi bi-star-fill"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pad_left_25">
                <aside class="widget mag_social_widget">
                    <h3 class="widget_title"><span>Mantente Conectado</span></h3>
                    <div class="social_area">
                        <div class="single_social twi">
                            <a href="#"><i class="twi-twitter"></i></a>
                            <div class="social_meta">
                                <span>36.798</span> Fans
                                <a href="#">Like</a>
                            </div>
                        </div>
                        <div class="single_social fac">
                            <a href="#"><i class="twi-facebook-f"></i></a>
                            <div class="social_meta">
                                <span>145.519</span> Followers
                                <a href="#">Follow</a>
                            </div>
                        </div>
                        <div class="single_social you">
                            <a href="#"><i class="magro-play-button"></i></a>
                            <div class="social_meta">
                                <span>980</span> Subscribers
                                <a href="#">Subscribe</a>
                            </div>
                        </div>
                    </div>
                </aside>

                <aside class="widget mag_modern_widget">
                    <h3 class="widget_title"><span>Últimos artículos</span></h3>
                    <div class="modern_slide owl-carousel">
                        <div class="single_modern">
                            <div class="single_md_item">
                                <img src="assets/img/home1/m1.jpg" alt=""/>
                                <a href="#">Lorem ipsum dolor sit amet perspiciste natus</a>
                            </div>
                            <div class="single_md_item">
                                <img src="assets/img/home1/m1.jpg" alt=""/>
                                <a href="#">Sed ut perspiciatis unde omnis deleniti</a>
                            </div>
                        </div>
                        <div class="single_modern">
                            <div class="single_md_item">

                                <img src="assets/img/home1/m1.jpg" alt=""/>

                                <a href="#">Omnis iste natus error sit voluptatem</a>

                            </div>
                            <div class="single_md_item">
                                <img src="assets/img/home1/m1.jpg" alt=""/>
                                <a href="#">At vero eos et accusamus et iusto odio</a>
                            </div>
                        </div>
                        <div class="single_modern">
                            <div class="single_md_item">
                                <img src="assets/img/home1/m1.jpg" alt=""/>
                                <a href="#">Qui blanditiis praesentium voluptatum</a>
                            </div>
                            <div class="single_md_item">
                                <img src="assets/img/home1/m1.jpg" alt=""/>
                                <a href="#">Mauris mattis auctor tellus cursus</a>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>

<!-- Whats New Section -->
<section class="comon_section" style="background-color: white;">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <h2 class="sec_titles"><i></i>Ranking Tiendas</h2>
                <div class="tw3_list clearfix">
                    <div class="tw3_thumb">
                        <img src="assets/img/tienda-1.png" alt="">
                    </div>
                    <div class="tw_3_content">
                        <h3><a href="#">Phantom</a></h3>
                    </div>
                </div>
                <div class="tw3_list clearfix">
                    <div class="tw3_thumb">
                        <img src="assets/img/tienda-2.png" alt="">
                    </div>
                    <div class="tw_3_content">
                        <h3><a href="#">The Law gamers</a></h3>
                    </div>
                </div>
                <div class="tw3_list clearfix">
                    <div class="tw3_thumb">
                        <img src="assets/img/tienda-3.png" alt="">
                    </div>
                    <div class="tw_3_content">
                        <h3><a href="#">Más Gamers Store</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <h2 class="sec_titles"><i></i>Mal puntuados</h2>
                <div class="tw3_list clearfix">
                    <ul>
                        <li><a href="#">Elden Ring </a> --- 5 <i class="bi bi-star-fill"></i></li>
                        <li><a href="#">The Witcher 3: Wild Hunt</a> --- 4.5 <i class="bi bi-star-fill"></i></li>
                        <li><a href="#">Street Fighter 6</a> --- 4.5 <i class="bi bi-star-fill"></i></li>
                        <li><a href="#">Monster Hunter Rise</a> --- 3.5 <i class="bi bi-star-fill"></i></li>
                        <li><a href="#">Mortal Kombat 11 Ultimate</a> --- 3 <i class="bi bi-star-fill"></i></li>
                        <li><a href="#">Destiny 2: La Reina Bruja</a> --- 2.5 <i class="bi bi-star-fill"></i></li>
                        <li><a href="#">Assassin's Creed Valhalla</a> --- 2. <i class="bi bi-star-fill"></i></li>
                        <li><a href="#">Metro Exodus Complete Edition</a> --- 2. <i class="bi bi-star-fill"></i></li>
                        <li><a href="#">Resident Evil 8: Village</a> --- 2. <i class="bi bi-star-fill"></i></li>
                        <li><a href="#">Hitman 3</a> --- 2.5 <i class="bi bi-star-fill"></i></li>
                        <li><a href="#">Jurassic World Evolution 2</a> --- 2. <i class="bi bi-star-fill"></i></li>
                        <li><a href="#">Call of Duty: Black Ops Cold War</a> --- 1.5 <i class="bi bi-star-fill"></i></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="editor_choice_area">
                    <h5>Publicidad</h5>
                </div>
            </div>
        </div>
    </div>
</section>
