<footer class="footer_1" style="background-color: black;">
  <div class="container ">
      <div class="row">
          <div class="col-lg-4 col-md-4">
              <aside class="widget">
                  <h2 class="widget_title"><i></i>Más Leídos</h2>
                  <div class="sf_s1_post">
                      <img src="assets/img/game-8.jpg" alt=""/>
                      <h5><a href="#">Hogwarts Legacy Playstation 5</a></h5>
                      <a class="sf_date" href="#">4 days ago</a>
                  </div>
                  <div class="sf_s1_post">

                      <img src="assets/img/game-9.jfif" alt=""/>
                      <h5><a href="#">Call of Duty Modern Warfare II</a></h5>
                      <a class="sf_date" href="#">4 days ago</a>
                  </div>
                  <div class="sf_s1_post">
                      <img src="assets/img/game-10.webp" alt=""/>
                      <h5><a href="#">Electronic Arts Star Wars Jedi</a></h5>
                      <a class="sf_date" href="#">4 days ago</a>
                  </div>
              </aside>
          </div>

          <div class="col-lg-4 col-md-4">
              <aside class="widget">
                  <h2 class="widget_title"><i></i>Últimas entradas</h2>
                  <div class="sf_s1_post">
                      <img src="assets/img/game-11.jpg" alt=""/>
                      <h5><a href="#">Koch Media Forspoken </a></h5>
                      <a class="sf_date" href="#">4 days ago</a>
                  </div>
                  <div class="sf_s1_post">
                      <img src="assets/img/game-12.jpg" alt=""/>
                      <h5><a href="#">The Last Of Us Parte I</a></h5>
                      <a class="sf_date" href="#">4 days ago</a>
                  </div>
                  <div class="sf_s1_post">
                      <img src="assets/img/game-14.webp" alt=""/>
                      <h5><a href="#">FIFA 23</a></h5>
                      <a class="sf_date" href="#">4 days ago</a>
                  </div>
              </aside>
          </div>
          <div class="col-lg-4 col-md-4">
              <aside class="widget widget_categories">
                  <h2 class="widget_title"><i></i>Categorías</h2>
                  <ul>
                      <li><a href="#">Acción</a>26</li>
                      <li><a href="#">Aventura</a>16</li>
                      <li><a href="#">Estrategia</a>14</li>
                      <li><a href="#">Xbox</a>12</li>
                      <li><a href="#">Switch</a>10</li>
                      <li><a href="#">Pc</a>8</li>
                      <li><a href="#">PS5</a>6</li>

                  </ul>
              </aside>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12">
              <div class="f_bar"></div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-7 col-md-7">
              <aside class="widget widget_about">
                  <div class="about_magro">
                      <a href="index.html"><img src="assets/img/logo.png" alt="Zona Gamer"></a>
                      <p>
                          Grupo 1 - Desarrollo para Entorno Web / UPC
                      </p>
                      <h4>Contacto :  <span>info@zonagamer.com</span></h4>
                  </div>
              </aside>
          </div>
          <div class="col-lg-5 col-md-5">
              <aside class="widget">
                  <div class="mailchimp_form">
                      <!-- formulario -->


                      <form action="#" method="post" [formGroup]="footerForm" >
                          <input type="email" formControlName="correo" placeholder="Tu email aquí" >
                          <input type="submit" (click)="__onSubmit()" value="Subcríbete">

                          <!-- <div class="form-group">
                              <p>Datos del formulario: {{footerForm.value  | json}}</p>
                              <p> Formulario Valido: {{footerForm.valid  }}   </p>
                           </div> -->

                      </form>
                  </div>
              </aside>
          </div>
      </div>
  </div>
</footer>
