<header class="header_01">
  <div class="container ">
      <div class="row">
          <div class="col-lg-12" >
              <div class="header_01_inner" >
                  <div class="row">
                      <div class="col-lg-3">
                          <div class="logo_01">
                              <a href="index.html"><img src="assets/img/logo.png" alt="Magro"/></a>
                          </div>
                      </div>
                      <div class="col-lg-6 noPaddingLeft">
                          <nav class="main_menu mobile_menu">
                              <div class="mobileMenuBar">
                                  <a href="javascript: void(0);"><span>Menu</span><i class="twi-bars"></i></a>
                              </div>
                              <ul class="clearfix">

                                  <li class="menu-item-has-children mg_menu">
                                      <a routerLink="/pc-games">Pc</a>
                                  </li>
                                  <li><a routerLink="/ps5-games">PS5</a></li>
                                  <li><a routerLink="/xbox-games">Xbox</a></li>
                                  <!-- <li class="menu-item-has-children">
                                      <a href="#">Nintendo</a>
                                      <ul class="sub-menu">
                                        <li><a href="#">64</a></li>
                                        <li><a href="#">Wii</a></li>
                                          <li><a href="#">Wii U</a></li>
                                          <li><a href="#">Switch</a></li>
                                      </ul>
                                  </li>
                                  <li class="menu-item-has-children">
                                      <a href="#">Categorias</a>
                                      <ul class="sub-menu">
                                          <li><a href="#">Aventura</a></li>
                                          <li><a href="#">Acción</a></li>
                                          <li><a href="#">Estrategias</a></li>
                                          <li><a href="#">Deportes</a></li>
                                          <li><a href="#">Simulación</a></li>
                                      </ul>
                                  </li> -->




                              </ul>
                          </nav>
                      </div>
                      <div class="col-lg-3">
                          <div class="header_01_settings">
                              <div class="social_01 clearfix">
                                  <a href="https://www.facebook.com/"><i class="twi-facebook-f"></i></a>
                                  <a href="https://twitter.com/"><i class="twi-twitter"></i></a>
                                  <a href="https://pe.linkedin.com/"><i class="twi-linkedin-in"></i></a>
                                  <a href="https://www.youtube.com/"><i class="twi-youtube"></i></a>
                              </div>
                              <div class="search_btn">
                                  <a href="javascript:void(0);"><i class="twi-search"></i></a>
                                  <form role="search" method="get" class="searchForms" action="#">
                                      <input type="search" class="search-field" placeholder="Type and Hit Enter..." name="s">
                                      <button type="submit" class="search-submit"><i class="twi-search2"></i></button>
                                  </form>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</header>
