
 <section class="contact_section" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="concat_content">
                    <h4>MODERADORES Ti</h4>
                    <p>  
                        Un moderador es una persona que supervisa el funcionamiento y la interacción en un entorno determinado, que puede ser un foro en línea, una sala de chat, una red social, un evento, un debate, etc. La función y responsabilidad de un moderador pueden variar dependiendo del contexto.
                    </p>    
                                    
                </div>
            </div>

            <div class="col-md-4 text-center"> <!-- dividir todo las columnas 12 columas en 4-->
                <img src="assets/img/user.jpg" class="img-fluid" width="300" height="300"> 
                <!--img-fluid IMAGEN resposiva -->
                
                <h4>Enrique Munguia </h4>
            </div>
            <div class="col-md-4 text-center"> 
                <img src="assets/img/user.jpg" class="img-fluid" width="300" height="300">
                <h4>Andreina Buttgenbach </h4>
            </div>
            <div class="col-md-4 text-center"> 
                <img src="assets/img/user.jpg" class="img-fluid" width="300" height="300">
                <h4>Jaime Loayza </h4>
            </div>
            <div class="col-md-4 text-center"> 
                <img src="assets/img/user.jpg" class="img-fluid" width="300" height="300">
                <h4>Janet Lachira </h4>
            </div>
            <!--  <div class="col-md-4 text-center"> 
                <img src="assets/img/user.jpg" class="img-fluid" width="300" height="300">
                <h4>Enrique Munguia </h4>
            </div> -->
     
        </div>
    </div>
</section>



