 <!-- Contact Form -->
 
 <section class="contact_section" >
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5">
                <div class="concat_content">
                    <h4>ZONA GAMER</h4>
                    <p>
                        Dejanos tus datos si necesitas ayuda.
                    
                    </p>
                    <div class="icon_box_1">
                        <p>
                            <i class="magro-placeholder"></i>
                            15048 - Surquillo, Lima, Perú
                        </p>
                    </div>
                    <div class="icon_box_1">
                        <p>
                            <i class="magro-call"></i>
                            +51 945443323 - <span>SEDE LIMA</span>
                        </p>
                    </div>
                    <div class="icon_box_1">
                        <p>
                            <i class="magro-cursor"></i>
                            <a href="mailto:hello@hostmail.com">info@zonagamer.com</a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- trabjar formularioss -->
            <div class="col-lg-7 col-md-7">
                <div class="contact_form" id="contact_form">
                    <h3><i class="twi-staylinked"></i>CONTÁCTANOS</h3>
                  

                    <form action="#" method="post"    [formGroup]="contactusForm">
                        <input placeholder="Nombre:" formControlName="nombre" class="required" type="text">
                        <input placeholder="Email:" formControlName="correo" class="required" type="email">
                        <textarea name="con_message" formControlName="mensaje" placeholder="Mensaje:"></textarea>
                        <input name="submit" (click)="__onSubmitContactus()" value="Enviar" type="submit">
                        <img src="images/ajax.gif" alt="" class="ast_loader"/>
                        <div class="ast_con_message"></div>

                           <!-- <div class="form-group">
                                <p>Datos del formulario: {{contactusForm.value  | json}}</p>
                                <p> Formulario Valido: {{contactusForm.valid  }}   </p>
                             </div> -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Form -->